
body{
  background-color: #fefcfa;
}

.cards-layout-container{
  .card {
    border: 1px solid black;
    height: 100%;

    .header {
      padding: 5px;
      border-bottom: solid 1px black;

      .actions {
        float: right;
      }
    }

    .card-content {
      padding: 5px;
      height: 100%;
    }
  }
}

.hidden {
  display: none;
}