$header-height: 20px;
$card-padding: 5px;

html {
  width: 100%;
}

body{
  background-color: #fefcfa;
}

.cards-layout-container{
  .card {
    border: 1px solid black;
    height: 100%;

    .header {
      padding: 5px;
      border-bottom: solid 1px black;
      min-height: $header-height;

      .actions {
        float: right;
      }
    }
    
    .card-content-no-header {
      margin: 5px; // use margin so .card is exposed for drag & drop
      /*height: calc(100% - #{$header-height} - (4 * #{$card-padding}));*/
      background-color: lightgray;
    }

    .card-content {
      margin: 5px; // use margin so .card is exposed for drag & drop
      /*height: calc(100% - (2 * #{$card-padding}));*/
      background-color: lightgray;
    }
  }
}

.hidden {
  display: none;
}