.configurableInteractiveLayout-card {
    border: solid 2px #000;
}

.configurableInteractiveLayout-title {
    color: blue;
}

.configurableInteractiveLayout-cardsLayoutContainer {
    background-color: #f3f6f6;
}
  
/* Transparent Card */
.configurableInteractiveLayout-transparent {
    background-color: transparent;
    border: 0 solid;
}

:global(body) {
    background-color: #f3f6f6;
}