.configurableInteractiveLayout-card {
    border: solid 2px #000;
}

.configurableInteractiveLayout-title {
    color: blue;
}

.configurableInteractiveLayout-cardsLayoutContainer {
    background-color: #f3f6f6;
}
  
/* Transparent Card */
.configurableInteractiveLayout-transparent {
    background-color: green;
    border: 0 solid;
}

/* iFrameCard */
.configurableInteractiveLayout-iframeCard {
    width: 100%;
}

:global(body) {
    background-color: #f3f6f6;
}