@import '../UI_Elements.scss';

#cards-framework-container{
  background-color: $layout-bg;
  font-family: $font-stack;
}

.card{
    background-color: $card-bg;
    border: 1px solid $card-border;
    height: 100%;
    padding: $card-padding; // use padding so .card is exposed for drag & drop
	.header{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 34px ;
        margin-left: 20px;
		.actions{
			float: right;
			.actions-menu{
				width: 12px;
				margin-left: 7px;
				cursor: pointer;
                float: right;
                height: 17px;
                outline: none;
				&.collapsed{
					background: url('../../res/actions_collapsed.svg') no-repeat right center;
					&:hover{
                      background: url('../../res/actions_collapsed_hover.svg') no-repeat right center;
					}
				}
                &.expanded{
                    height: 8px;
                    width: 17px;
                    background: url('../../res/actions_expanded.svg') no-repeat right center;
                    &:hover{
                      background: url('../../res/actions_expanded_hover.svg') no-repeat right center;
                    }
                }
			}
            .action-items{
                display: inline-block;
                &.dispnone{
                    display: none;
                }
                .action-item{
                    width: 20px;
                    height: 20px;
                    margin-left: 5px;
                    display: inline-block;
                    .action-item-no-icon{
                        max-width: 20px;
                        max-height: 20px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
		}
	}

    .card-content {
      height: auto;
      background-color: lightgray;
    }
}