$fontStack: "Segoe UI", Helvetica, sans-serif;

$cardPadding: 10px;  /*use padding so .card is exposed for drag & drop*/
$cardBorderWidth: 1px;
$headerHeight: 40px;
$actionsMenuWidth: 32px;

/*colors*/
$layoutBg: #F0F0F0;
$cardBg: #FFFFFF;
$cardBorder: #E3E3E3;
