$font-stack: "Segoe UI", Helvetica, sans-serif;

$card-padding: 10px;  /*use padding so .card is exposed for drag & drop*/
$card-border-width: 1px;
$header-height: 50px;
$actions-menu-width: 44px;

/*colors*/
$layout-bg: #F0F0F0;
$card-bg: #FFFFFF;
$card-border: #E3E3E3;
