@import '../UI_Elements';



#cards-framework-container {
  background-color: $layout-bg;
  font-family: $font-stack;
}

.draggable {
	.card {
		cursor: pointer;
	}
}

.card {
  background-color: $card-bg;
  border: $card-border-width solid $card-border;
  padding: $card-padding;
  height: calc(100% - 2 * #{$card-padding} - 2 * #{$card-border-width});

  &.with-title {
    padding: 0px;
    height: 100%;
  }
}

.card .card-header {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: $header-height;
  height: $header-height;
  z-index: 2;
  padding: 0px 10px 0px 10px;

  &.without-title {
    right: $card-padding;
    position: absolute;
    .actions {
      background-color: $card-bg;
      opacity: 0;
      &:hover {
        opacity: 0.7;
      }
      &.menu-open {
        opacity: 0.7;
      }
    }
  }

  .actions {
    order: 2;
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
    float: right;

    .cards-actions-menu {
      order: 2;
      width: $actions-menu-width;
      cursor: pointer;
      float: right;
      height: inherit;
      outline: none;

      &.collapsed {
        background: url('../../res/actions_collapsed.svg') no-repeat center center;
        &:hover {
          background: url('../../res/actions_collapsed_hover.svg') no-repeat center center;
        }
      }

      &.expanded {
        background: url('../../res/actions_expanded.svg') no-repeat center center;
        &:hover {
          background: url('../../res/actions_expanded_hover.svg') no-repeat center center;
        }
      }
    }

    .card-action-items {
      order: 1;
      display: inline-block;

      &.dispnone {
        display: none;
      }

      .card-action-item {
        width: 20px;
        height: 20px;
        margin-left: 8px;
        display: inline;
        outline: none;
        text-transform: capitalize;
        position: relative;
        cursor: pointer;

        &:hover::after {
          line-height: 18px;
          font-family: "Segoe UI Semibold";
          border-radius: 5px;
          font-size: 12px;
          white-space: nowrap;
          background: #000;
          bottom: 34px;
          color: #fff;
          content: attr(data-tooltip);
          left: -50%;
          padding: 6px 6px;
          position: absolute;
          z-index: 98;
          text-align: center;
        }
        &:hover::before {
          border: solid;
          border-color: #000 transparent;
          border-width: 6px 6px 0 6px;
          bottom: 28px;
          content: "";
          left: 35%;
          position: absolute;
          z-index: 99;
        }

        .card-action-item-no-icon {
          max-width: 20px;
          max-height: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .title-wrapper {
    order: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .title {
      cursor: initial;
    }

  }

}

.card {

  .card-content {
    height: 100%;
    width: calc(100% - 20px);
    overflow-y: auto;
    overflow-x: auto;
    cursor: initial;
    padding: 0px 10px 10px 10px;
  }

  &.with-title .card-content {
    height: calc(100% - #{$header-height} - 10px);
  }
}

.iframe-card-container {
  overflow: hidden;
}

.react-grid-layout {
  position: relative;
  transition: none !important;
}

.react-grid-item.cssTransforms {
  transition-property: none !important;
}

.react-grid-item.react-grid-placeholder {
  background: none !important;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.highlight {
  border: 3px solid #fff5b5;
}

.empty-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #404f5a;
  font-size: 20px;


  div {
    margin-bottom: 8px;
  }
}

.empty-layout-icon {
  background: url("../../res/no_data.svg") no-repeat center center;
  height: 113px;
  width: 161px;
}
