@import '../UI_Elements';

#cardsFrameworkContainer {
  background-color: $layoutBg;
  font-family: $fontStack;
}

.cardsLayoutContainer {
  background-color: white;
}

.draggable .card {
	cursor: pointer;
}

.card {
  background-color: $cardBg;
  border: $cardBorderWidth solid $cardBorder;
  padding: $cardPadding;
  height: calc(100% - 2 * #{$cardPadding} - 2 * #{$cardBorderWidth});
}

.withTitle {
  padding: 0px;
  height: 100%;
}

/* Temp Trial */
.cardHeader {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: $headerHeight;
  height: $headerHeight;
  z-index: 2;
  padding: 0px 10px 0px 10px;
}

.titleWrapper {
  order: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.title {
  cursor: initial;
}

.withoutTitle {
  right: $cardPadding;
  position: absolute;
  
}

.withoutTitle .actions {
  background-color: $cardBg;
  opacity: 0;
}

.withoutTitle:hover {
  opacity: 0.7;
}

.menuOpen {
  opacity: 0.7;
}

.actions {
  order: 2;
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
  float: right;
}

.cardsActionsMenu {
  order: 2;
  width: $actionsMenuWidth;
  cursor: pointer;
  float: right;
  height: inherit;
  outline: none;
}

.cardHeader .actions .collapsed {
  background: url('../../res/actions_collapsed.svg') no-repeat center center;
}

.cardHeader .actions .collapsed:hover {
    background: url('../../res/actions_collapsed_hover.svg') no-repeat center center;
}

.cardHeader .actions .expanded {
  background: url('../../res/actions_expanded.svg') no-repeat center center;
}

.cardHeader .actions .expanded:hover {
    background: url('../../res/actions_expanded_hover.svg') no-repeat center center;
}

.cardActionItems {
  order: 1;
  display: inline-block;
}

.dispnone {
  display: none;
}

.cardActionItem {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  display: inline;
  outline: none;
  text-transform: capitalize;
  position: relative;
  cursor: pointer;
}

.cardActionItem:hover::after {
  line-height: 18px;
  font-family: "Segoe UI Semibold";
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  background: #000;
  bottom: 34px;
  color: #fff;
  content: attr(data-tooltip);
  left: -50%;
  padding: 6px 6px;
  position: absolute;
  z-index: 98;
  text-align: center;
}

.cardActionItem:hover::before {
  border: solid;
  border-color: #000 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 28px;
  content: "";
  left: 35%;
  position: absolute;
  z-index: 99;
}

.card {

  .cardContent {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    cursor: initial;
    padding: 0px 10px 10px 10px;
  }

  &.withTitle .cardContent {
    height: calc(100% - #{$headerHeight} - 10px);
  }
}

.iframeCardContainer {
  overflow: hidden;
}

.highlight {
  border: 3px solid #fff5b5;
}

.emptyLayout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #404f5a;
  font-size: 20px;


  div {
    margin-bottom: 8px;
  }
}

.emptyLayoutIcon {
  background: url("../../res/no_data.svg") no-repeat center center;
  height: 113px;
  width: 161px;
}

:global(.react-grid-layout) {
  position: relative;
  transition: none !important;
}

:global(.react-grid-item.cssTransforms) {
  transition-property: none !important;
}

:global(.react-grid-item.react-grid-placeholder) {
  background: none !important;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}